:root {
    --colorFirst: #e6e6e6;
    --colorSecond:#e9eeff;
    --colorShadow: #808080;
}
html {
    margin: 0;
}
body {
    margin: 0;
    height: 100%;
}
.holder {
    padding: 200px 0 200px 0;
    margin: 0 auto 0 auto;
    background-image: url(Location-map.png);
}
.holder div {
    margin: auto;
    text-align: center;
    background-color: var(--colorFirst);
    padding: 5px;
    width: 400px;
    box-shadow: 0 0 50px var(--colorShadow);
}
.holder div h5 {
    text-align: left;
    font-size: 20px;
    line-height: 50px;
    margin: 0 0 0 0;
    color: navy;
}
.holder div form input {
    width: 365px;
    padding: 15px;
    border-color: var(--colorSecond);
}

.indhold {
    width: 400px;
    margin: 20px auto 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: bold;
}
.indhold div:nth-child(2) {
    width: 200px;
    text-align: right;
}

.list {
    width: 400px;
    margin: 0 auto 30px auto;
}

.zipListUnit {
    transition: .5s all;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 0;
    border-top: 1px solid var(--colorFirst);
}


.zipListUnit div {
    width: 150px;
    font-size: small;
    color: #3a3a3a;
}

.zipListUnit:hover {
    background-color: var(--colorSecond);
    transition-delay: 0s;
}